<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/add-product"
        <% if (path === '/admin/add-product') { %>
            class="active"
            <%} else { %>
            class=""
            <% } %>
          >Add Product</a
        >
      </li>
      <li class="main-header__item">
        <a href="/admin/products"
        <% if (path === '/admin/products') { %>
            class="active"
            <%} else { %>
            class=""
            <% } %>
          >Admin Products</a
        >
      </li>
    </ul>
  </nav>
</header>

<!-- another way of using active class
<% if (path === '/admin/add-product') { %>
    class="active"
    <%} else { %>
    class=""
    <% } %> >
-->